<!-- Wiederverwendbares Itemlisten-Partial: rendert gruppierte Inventar-/Kampfitems und Buttons für Ausrüsten, Angriff, Wurf, Bearbeiten und Löschen. -->
{{#if single}}
  <div class="gt-item-group">
    <ol class="items-list no-images">
      {{#each groups.items as |item|}}
      <li class="item" data-item-id="{{item.id}}">
        <span class="item-name">{{item.name}}</span>
        {{#if item.system.quantity}}<span class="gt-chip gt-tip" title="Anzahl: {{item.system.quantity}}" data-tooltip="Anzahl: {{item.system.quantity}}">×{{item.system.quantity}}</span>{{/if}}
        {{#if item.system.attribute}}<span class="gt-chip gt-tip" title="Attribut: {{item.system.attribute}}" data-tooltip="Attribut: {{item.system.attribute}}">{{item.system.attribute}}</span>{{/if}}
        {{#if item.system.damage}}<span class="gt-chip gt-tip" title="Würfel/Schaden: {{item.system.damage}}" data-tooltip="Würfel/Schaden: {{item.system.damage}}">{{item.system.damage}}</span>{{/if}}
        {{#if item.system.properties}}<span class="gt-chip wide gt-tip" title="Eigenschaften: {{item.system.properties}}" data-tooltip="Eigenschaften: {{item.system.properties}}">{{item.system.properties}}</span>{{/if}}
        {{#if (or (eq item.type "armor") (eq item.type "shield"))}}<button type="button" class="item-equip {{#if item.system.equipped}}active{{/if}}" title="{{#if item.system.equipped}}Ablegen{{else}}Ausrüsten{{/if}}"><i class="fas {{#if item.system.equipped}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></button>{{/if}}
        <button type="button" class="item-attack" title="Angriff"><i class="fas fa-crosshairs"></i></button>
        <button type="button" class="item-roll" title="Schaden/Effekt"><i class="fas fa-dice"></i></button>
        <button type="button" class="item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></button>
        <button type="button" class="item-delete" title="Löschen"><i class="fas fa-trash"></i></button>
      </li>
      {{/each}}
    </ol>
  </div>
{{else}}
<section class="gt-panel item-panel gt-parchment-panel">
  <h2>Gegenstände</h2>
  {{#each groups as |group type|}}
  {{#if group.items.length}}
  <div class="gt-item-group gt-item-group-{{type}}">
    <h3>{{group.label}} <button type="button" class="item-create" data-type="{{group.createType}}"><i class="fas fa-plus"></i></button></h3>
    <ol class="items-list no-images">
      {{#each group.items as |item|}}
      <li class="item" data-item-id="{{item.id}}">
        <span class="item-name">{{item.name}}</span>
        {{#if item.system.quantity}}<span class="gt-chip gt-tip" title="Anzahl: {{item.system.quantity}}" data-tooltip="Anzahl: {{item.system.quantity}}">×{{item.system.quantity}}</span>{{/if}}
        {{#if item.system.attribute}}<span class="gt-chip gt-tip" title="Attribut: {{item.system.attribute}}" data-tooltip="Attribut: {{item.system.attribute}}">{{item.system.attribute}}</span>{{/if}}
        {{#if item.system.damage}}<span class="gt-chip gt-tip" title="Würfel/Schaden: {{item.system.damage}}" data-tooltip="Würfel/Schaden: {{item.system.damage}}">{{item.system.damage}}</span>{{/if}}
        {{#if item.system.rk}}<span class="gt-chip gt-tip" title="Rüstungsklasse: {{item.system.rk}}" data-tooltip="Rüstungsklasse: {{item.system.rk}}">RK {{item.system.rk}}</span>{{/if}}
        {{#if item.system.ele}}<span class="gt-chip gt-tip" title="Elemente: {{item.system.ele}}" data-tooltip="Elemente: {{item.system.ele}}">ELE {{item.system.ele}}</span>{{/if}}
        {{#if item.system.ma}}<span class="gt-chip gt-tip" title="Mentale Abwehr: {{item.system.ma}}" data-tooltip="Mentale Abwehr: {{item.system.ma}}">MA {{item.system.ma}}</span>{{/if}}
        {{#if item.system.properties}}<span class="gt-chip wide gt-tip" title="Eigenschaften: {{item.system.properties}}" data-tooltip="Eigenschaften: {{item.system.properties}}">{{item.system.properties}}</span>{{/if}}
        {{#if (or (eq item.type "armor") (eq item.type "shield"))}}<button type="button" class="item-equip {{#if item.system.equipped}}active{{/if}}" title="{{#if item.system.equipped}}Ablegen{{else}}Ausrüsten{{/if}}"><i class="fas {{#if item.system.equipped}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i></button>{{/if}}
        <button type="button" class="item-attack" title="Angriff"><i class="fas fa-crosshairs"></i></button>
        <button type="button" class="item-roll" title="Schaden/Effekt"><i class="fas fa-dice"></i></button>
        <button type="button" class="item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></button>
        <button type="button" class="item-delete" title="Löschen"><i class="fas fa-trash"></i></button>
      </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}
  {{/each}}
</section>
{{/if}}
